.cabecalho{
    width: 100%;
    height: 30vh;
    position: fixed;
    z-index: 2;
}

.banner__cabecalho{
display: flex;
align-items: center; 
position:relative;   
}
.banner__cabecalho--logo{
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.banner__cabecalho--logo img{
    width:30%;
}

.banner__cabecalho--logo h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 3em;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
    padding-top: 0.25rem;
    font-family: var(--estiloFonte-TituloLogo);
}

.banner__cabecalho--nav{
    z-index: 2;
    width:100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    right: 5%;
}

.banner__cabecalho--nav a{
    text-decoration: none;
    padding-right: 3em;
    color: beige;
    font-size: 1.5em;
}

.banner__cabecalho--nav a:hover{
    text-decoration: underline;
    color: blue;
}

.banner__cabecalho--nav a:active{
    color: blueviolet;
}

.banner__cabecalho video{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}