.cabecalho{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    position: fixed;
    z-index: 2;
}
.cabecalho__logo{
    padding: 0 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho__logo img{
    width:30%;
}

.cabecalho__logo h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 2em;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
    padding-top: 1rem;
}

.cabecalho__contato{
    width:100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.cabecalho__contato a{
    text-decoration: none;
    padding-right: 3em;
    color: beige;
    font-size: 1.5em;
}

.cabecalho__contato a:hover{
    text-decoration: underline;
    color: blue;
}
.cabecalho__banner video{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}