.rodape{
    position: absolute;
    margin-top: 280vh;
    opacity: .45;    
}

.fornecedores{
    
    background: var(--cor-bgSecaoSecundaria);
}
.fornecedores h3{
    padding: 1.3em 0 0 .5em;
    font-weight: 500;
    font-family: var(--estiloFonte-TituloSecundario);
    font-size: 1.2em;
}
.fornecedores__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 25vh;
    flex-wrap: wrap;
    margin-top: 1.3em;
    
}


.fornecedores img{
    width: 8%;
}

.redesSociais {
    grid-column: 1/2;
    grid-row: 2;
    font-family: var(--estiloFonte-TituloSecundario);
    background: var(--cor-bgRodape);
    font-size: 1.2em;
    padding: 1.3em 0 1.3em .5em;
    opacity: .45;
}
.redesSociais img{
    width:3%;
    padding: 1em 4em 0 1em;
}

.contato{
    background-color: rgba(54, 39, 39,.34);
    border:2px solid;
    border-radius: 20px;
    left:86%;
    padding: .3em 0 0.3em 0;
    position: fixed;
    top: 68%;
    width:12%;
    z-index: 2;
}

.contato a{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contato img{
    width:20%;
    padding: 0 .5em 0 0;
    
}