@import url("./reset.css");
@import url("./cabecalho/cabecalho.css");
@import url("./main/container.css");
@import url("./main/receitas.css");
@import url("./main/swiper.css");
@import url("./rodape/rodape.css");
@import url("./cabecalho/cabecalho-fixo.css");
@import url("./main/receitas-descricao.css");
@import url("./forms/forms.css");

:root{
   
   /* Estilos de cores de fontes e background */
    --cor-fontePrincipal:;
    --cor-fonteSecundaria:;
    --cor-fonteTituloPrincipal:;
    --cor-fonteTituloSecundario:;
    --cor-titulo-swiper:#53c0f0;
   
    --cor-bgPrincipal:#5c3d46;
    --cor-bgSecundario:#5c868d;
    --cor-bgSecaoPrimaria:#99bfaa;
    --cor-bgSecaoSecundaria:#c8d6ca;
    --cor-bgRodape:#e7f5de;

    /* Estilos de fontes para títulos de página e textos descritivos */
    --estiloFonte-Principal:'Roboto', sans-serif;
    --estiloFonte-Secundaria:'Source Serif Pro', serif;
    --estiloFonte-Titulo:'Quicksand', sans-serif;
    --estiloFonte-TituloLogo:'Passions Conflict', cursive;
    --estiloFonte-TituloSecundario:'Satisfy', cursive;
    --estiloFonte-Descritivo:'Dancing Script', cursive;

}




.enfatico{
    font-weight: 600;
    font-style: italic;
    color: brown;
}

.titulo__secao{
    text-align: center;
    width:100%;
    margin-bottom: 2em;
    font-family: var(--estiloFonte-TituloSecundario);
    font-weight: 650;
    font-size: 2.5rem;
}

/* body{
    background: var(--cor-bgPrincipal);
} */