.receitas{
    width: 100%;
    height: 40vw;
    margin-top:5%;
    background: var(--cor-bgSecao);
    padding-top: 3em;
}

.container__receitas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .3em;
    gap: 10em;

}

.receitas__doces:hover, .receitas__salgados:hover{
    transform: scale(1.3);
    cursor:pointer;
}


.receitas__doces img, .receitas__salgados img{
    border-radius: 50%;
}

